<% title='Activity' ; currentPage='activity' ; %>
  <%- include('../layouts/main', { body: ` <div class="activity-page">
    <h2>Activity Log</h2>
    <div id="activityFeed">
      <p>Loading activity...</p>
    </div>
    </div>
    ` }) %>