<% title='Create Project' ; currentPage='create-project' ; %>
  <%- include('../layouts/main', { body: ` <div class="create-project-page">
    <h2>Create New Project</h2>
    <p>Project creation form coming soon.</p>
    </div>
    ` }) %>