<% title='Projects' ; currentPage='projects' ; pageScript='projects' ; %>
  <%- include('../layouts/main', { body: ` <div class="projects-header">
    <h2>All Projects</h2>
    </div>
    <div class="project-grid" id="projectGrid">
      <!-- Projects will be loaded here via JS -->
    </div>
    ` }) %>