<% title='Projects' ; currentPage='projects' ; %>
  <%- include('../layouts/main', { body: ` <div class="projects-page">
    <h2>All Projects</h2>
    <div id="projectList">
      <p>Loading projects...</p>
    </div>
    </div>
    ` }) %>